{% extends 'base.html.twig' %}



{% block title %}Connexion{% endblock %}

{% block body %}

    <div id="login-page">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div id="form">
                <div>
                    <div>
                        <label for="inputMail">Identifiant:</label>
                        <input type="text" value="{{ last_username }}" placeholder="Pseudo ou adresse email" name="email" id="inputMail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div id="pwd">
                        <label for="inputMotPasse">Mot de passe:</label>
                        <input type="password" name="password" id="inputMotPasse" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>

                <div id="bloc-boutons-login">
                    <div>
                        <button id="login-bouton" class="btn btn-lg btn-primary" type="submit">
                            Connexion
                        </button>
                    </div>

                    <div class="checkbox mb-3">
                        <label id="label-remember-me-bouton">
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}
