{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier profil
{% endblock %}

{% block body %}
    <div id="mon-profil">

        <h2>Mon profil</h2>

        <div id="div-infos-profil">
            <div id="div-img">
                <img src="{{ asset('img/img_profil.PNG') }}" alt="photo profil">
            </div>

            <div>
                {{  form_start(participantForm) }}
                {{  form_widget(participantForm) }}
                <div id="button-profil">
                    <button>Enregistrer</button>
                    <button><a href="{{ path('main_home') }}" title="Retour vers l'acceuil">Annuler</a></button>
                </div>
                {{  form_end(participantForm) }}
            </div>
        </div>

    </div>
{% endblock %}
