{% extends 'base.html.twig' %}

{% block body %}
    <div id="acceuil">

        <div id="infos">
            <div>
                <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
                <p>Participant : {{ app.user.prenom}} {{ app.user.nom | slice(0,1)}}. </p>
            </div>
        </div>
        <h2>Filtrer les sorties</h2>

        {{  form_start(filtreForm) }}
        <div id="filtres">
            <div id="acceuil-filtres-partLeft">
                {{  form_row(filtreForm.nomCampus) }}
                {{  form_row(filtreForm.nomSortie) }}
                <div id="acceuil-filtres-date">
                    {{  form_row(filtreForm.dateSortie1) }}
                    {{  form_row(filtreForm.dateSortie2) }}
                </div>
            </div>
            <div id="acceuil-filtres-partRight">
                {{  form_row(filtreForm.organisateur) }}
                {{  form_row(filtreForm.inscrit) }}
                {{  form_row(filtreForm.pasInscrit) }}
                {{  form_row(filtreForm.sortiepassees) }}
            </div>
            <div id="button-filtre">
                <button type="submit">Rechercher</button>
            </div>
        </div>
        {{  form_end(filtreForm) }}

        <div id="listeSortie">
            <table>
                <tr>
                    <td>Nom de la sortie</td>
                    <td>Date de la sortie</td>
                    <td>Clôture</td>
                    <td>inscrits/places</td>
                    <td>Etat</td>
                    <td>Inscrit</td>
                    <td>Organisateur</td>
                    <td>Actions</td>
                </tr>
                {% for sortie in sorties %}
                    {% if sortie.etat.libelle == 'Créée' and sortie.organisateur  == app.user %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription |date('d/m/y') }}</td>
                            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>
                                {% if app.user in sortie.participants %}
                                    X
                                {% endif %}
                            </td>
                            <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1) }}.</td>
                            <td>
                                {% if sortie.organisateur  == app.user %}
                                    {% if sortie.etat.libelle == 'Créée' %}
                                        <a href="{{ path('sortie_update', {'idSortie': sortie.idSortie}) }}">Modifier</a> - <a href="{{ path('sortie_publier', {'idSortie': sortie.idSortie}) }}">Publier</a>
                                    {% elseif sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_annuler', {'idSortie': sortie.idSortie}) }}">Annuler</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% elseif not (sortie.organisateur  == app.user) and app.user in sortie.participants %}
                                    {% if sortie.etat.libelle == 'Ouverte' or (sortie.etat.libelle == 'Clôturée' and  date() < date(sortie.dateLimiteInscription)) %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_desinscrire', {'idSortie': sortie.idSortie}) }}">Se désister</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% else %}
                                    {% if sortie.etat.libelle == 'Ouverte' and  date() < date(sortie.dateLimiteInscription) %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_inscrire', {'idSortie': sortie.idSortie}) }}">S'inscrire</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% elseif (sortie.etat.libelle == 'Annulée' and date(sortie.dateHeureDebut) > date('-30days')) or (sortie.etat.libelle == 'Passée' and date(sortie.dateHeureDebut) > date('-30days')) %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription |date('d/m/y') }}</td>
                            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>
                                {% if app.user in sortie.participants %}
                                    X
                                {% endif %}
                            </td>
                            <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1) }}.</td>
                            <td>
                                {% if sortie.organisateur  == app.user %}
                                    {% if sortie.etat.libelle == 'Créée' %}
                                        <a href="{{ path('sortie_update', {'idSortie': sortie.idSortie}) }}">Modifier</a> - <a href="{{ path('sortie_publier', {'idSortie': sortie.idSortie}) }}">Publier</a>
                                    {% elseif sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_annuler', {'idSortie': sortie.idSortie}) }}">Annuler</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% elseif not (sortie.organisateur  == app.user) and app.user in sortie.participants %}
                                    {% if sortie.etat.libelle == 'Ouverte' or (sortie.etat.libelle == 'Clôturée' and  date() < date(sortie.dateLimiteInscription)) %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_desinscrire', {'idSortie': sortie.idSortie}) }}">Se désister</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% else %}
                                    {% if sortie.etat.libelle == 'Ouverte' and  date() < date(sortie.dateLimiteInscription) %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_inscrire', {'idSortie': sortie.idSortie}) }}">S'inscrire</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% elseif not ((sortie.etat.libelle == 'Créée') or (sortie.etat.libelle == 'Passée') or (sortie.etat.libelle == 'Annulée')) %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription |date('d/m/y') }}</td>
                            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>
                                {% if app.user in sortie.participants %}
                                    X
                                {% endif %}
                            </td>
                            <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1) }}.</td>
                            <td>
                                {% if sortie.organisateur  == app.user %}
                                    {% if sortie.etat.libelle == 'Créée' %}
                                        <a href="{{ path('sortie_update', {'idSortie': sortie.idSortie}) }}">Modifier</a> - <a href="{{ path('sortie_publier', {'idSortie': sortie.idSortie}) }}">Publier</a>
                                    {% elseif sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_annuler', {'idSortie': sortie.idSortie}) }}">Annuler</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% elseif not (sortie.organisateur  == app.user) and app.user in sortie.participants %}
                                    {% if sortie.etat.libelle == 'Ouverte' or (sortie.etat.libelle == 'Clôturée' and  date() < date(sortie.dateLimiteInscription)) %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_desinscrire', {'idSortie': sortie.idSortie}) }}">Se désister</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% else %}
                                    {% if sortie.etat.libelle == 'Ouverte' and  date() < date(sortie.dateLimiteInscription) %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a> - <a href="{{ path('sortie_inscrire', {'idSortie': sortie.idSortie}) }}">S'inscrire</a>
                                    {% else %}
                                        <a href="{{ path('sortie_read', {'idSortie': sortie.idSortie}) }}">Afficher</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}

                    {% endif %}

                {% endfor %}
            </table>
        </div>

        <div>
            <button><a href="{{ path('sortie_create') }}" title="Créer une sortie" type="submit">Créer une sortie</a></button>
        </div>

    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Acceuil
{% endblock %}