{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails sortie
{% endblock %}

{% block body %}
    <div id="read-sortie-page">

        <h2>Afficher une sortie</h2>

        <table id="read-details-sortie">
            <tr>
                <td id="libelle">Nom de la sortie:</td><td id="valeur">{{ sortie.nom }}</td>
                <td id="libelle">Campus:</td><td id="valeur">{{ sortie.campus.nom }}</td>
            </tr>
            <tr>
                <td id="libelle">Date et heure de la sortie:</td><td id="valeur">{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</td>
                <td id="libelle">Lieu:</td><td id="valeur">{{ sortie.lieu.nom }}</td>
            </tr>
            <tr>
                <td id="libelle">Date limite d'inscription:</td>
                <td id="valeur">{{ sortie.dateLimiteInscription |date('d/m/y') }}</td>
                <td id="libelle">Rue:</td>
                <td id="valeur">{{ sortie.lieu.rue }}</td>
            </tr>
            <tr>
                <td id="libelle">Nombre de places:</td>
                <td id="valeur">{{ sortie.nbInscriptionsMax }}</td>
                <td id="libelle"" >Code postal:</td>
                <td id="valeur">{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>
                <td id="libelle">Durée:</td>
                <td id="valeur">{{ sortie.duree }} minutes</td>
                <td id="libelle">Latitude:</td>
                <td id="valeur">{{ sortie.lieu.latitude }}</td>
            </tr>
            <tr id="long">
                {% if(sortie.etat.idEtat == "6") %}
                    <td id="libelle">Motif d'annulation:</td>
                {% else %}
                    <td id="libelle">Description et infos:</td>
                <td id="valeur"><p>{{ sortie.infosSortie }}</p></td>
                <td id="libelle">Longitude:</td>
                <td id="valeur">{{ sortie.lieu.longitude }}</td>
            </tr>
        </table>
        <div >
            <h4>Liste des participants inscrits:</h4>
            <table id="read-liste-participants">
                <tr>
                    <td>Pseudo</td>
                    <td>Nom</td>
                </tr>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.prenom }} {{ participant.nom }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
