<nav>
    <ul>
        {% if app.request.pathinfo == '/participant/test' %}
            <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('participant_profil', {pseudo : 'test'}) }}" title="Mon profil">Mon profil</a></li>
            <li><a href=# title="Home">Se déconnecter</a></li>
        {% else %}
            {{ app.request.pathinfo }}
            <li><a href=# title="Villes">Villes</a></li>
            <li><a href=# title="Campus">Campus</a></li>
            <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('participant_profil', {pseudo : 'test'}) }}" title="Mon profil">Mon profil</a></li>
            <li><a href=# title="Home">Se déconnecter</a></li>
        {% endif %}
    </ul>
</nav>